*{box-sizing:border-box}a {-webkit-transition:0.3s;transition:0.3s;color:rgb(97, 91, 91);}a:hover{text-decoration:underline;color:#383838}
.clearfix:after {content: " ";visibility: hidden;display: block;height: 0;clear: both;}a{color:#38C2C5}

.footer{padding:0 30px 30px;background:#058AB3 url('../images/bg.jpg') no-repeat center top;margin:30px 0 0;text-align:left;color:#E3E3E3}
.middle{display:inline-block;vertical-align:middle}
/*div.search .form-inline{height:35px;width:100%;white-space:nowrap}*/
div.search .form-inline > * {height:100%;vertical-align:top}
.table-bordered th a{color:#161616}
.pagenav a, .pagination a{color:#383838}
.page-header h2{font-size:2em;margin-bottom:30px;color:#161616}
.content{padding-top:15px}
dt.result-title{font-size:20px;margin-top:20px;color:#161616}
dt.result-title a{color:inherit}
dd.published{margin-left:20px}
.article-info{margin-bottom:40px}
div[itemprop="articleBody"] img{
	margin:20px 20px 20px 10px;
}
.relative{position: relative;}
.latestnews, .menu_qq{list-style:none;margin:0;padding:0}
#searchForm{background:#383838;padding:20px;margin: 0 0 20px}
#searchForm .btn-group.pull-left{height:35px}
#searchForm > *{margin-bottom:10px}
#searchForm fieldset > *{margin-bottom:10px}
#searchForm .ordering-box{margin:0}
#searchForm label,#searchForm p, #searchForm legend{color:#fff}
#searchForm input{vertical-align:top}
.spravochki img{display:block;margin:0 auto}
.spravochki{margin-top:20px;margin-bottom: 30px;}
.spravochki span{height:45px;display:inline-block}

.next, .prev{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #bbb;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 24px;
    z-index: 10;
    opacity: 0.6;
}

.next{right: 10px}
.next:after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    margin: auto;
    top: 0;
    left: -2px;
    right: 0;
    bottom: 0;
}
.prev{left: 10px}
.prev:after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-45deg);
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: -4px;
    bottom: 0;
}

.review{
    padding: 0 15px;
}
.review-photo{
    display: inline-block;
    vertical-align: top;
    width: 24%;
    margin-right: 1%;
}

.review-info{
    display: inline-block;
    vertical-align: top;
    width: 73%;
}
.review-info-main {
    padding: 10px;
    background-color: rgba(243, 197, 130, 0.56);
    border-radius: 5px;
    margin-bottom: 5px;
}
.review-title{
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 5px;
}
.review-info-subtitle{
    text-align: right;
    color: #bbb;
}

.footer .search {
    margin-top: 10px;
    position: relative;
     right: auto; 
    top: 10px;
}

.footer .header{padding: 0 !important}

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;/*vertical-align:baseline;*/}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
/*ol,ul{list-style:none;margin:0;padding:0;}*/
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid .eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family: Arial, Geneva,Helvetica, sans-serif;
	font-size: 100%;
	color:rgb(97, 91, 91);
}
/*.logo a{display:inline-block}*/
#system-message div.alert-message{background:rgba(0,255,0,0.3);}
#system-message div.alert-error,#system-message div.alert-message{padding:8px;border-radius:8px;position:relative;}
#system-message div.alert-error{background:rgba(255,0,0,0.3);}
#system-message a.close{position:absolute;right:10px;top:5px;cursor:pointer}
#aiContactSafe_info{font-size:12px}

.top-menu{z-index:1;position:absolute;left:0;top:0;bottom:0;margin:auto;line-height: 69px;}

.search-container{position:absolute;top:0;bottom:0;margin:auto;height:35px;right:20px;overflow:hidden;width:50%;width:40px;-webkit-transition:0.3s;transition:0.3s;width:270px;max-width: calc(100% - 40px)}
.search-container input[type="submit"] {position:absolute;right:0}
.search-container input[type="text"] {position:absolute;right:40px;opacity:0;-webkit-transition:0.3s;transition:0.3s;width:0}
/*.search-container form{transition:0.3s;width:40px;overflow:hidden}
.search-container.active form{width:100%;}*/
.search-container.active input[type="text"] {opacity:1;width: calc(100% - 40px)}

.top-menu.compact > a{display:inline-block}
.top-menu.compact ul{display:none}

.footer-row{float:left;width:33%;list-style:none;padding:0 0 0 20px;margin:20px 0 0;}
.footer-row li{
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.38);
    font-family: 'Ubuntu', sans-serif;
    
}
.footer-row li > *{
    display:inline-block;
    vertical-align:top;
}
.footer-row3 li > *{
    vertical-align:middle;
}
.footer-row li > * + *{
    margin-left:10px;
    font-size: 18px;
    line-height:30px;
}
.footer-row li a{
    text-decoration:none;
    color:#fff;
    border-bottom:1px dashed #fff;
}
.footer-row li a:hover{
    color:#FF9800;
}
.footer-row li:first-child{
    font-size:24px;
    margin-bottom:10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    font-family: 'Roboto Slab', sans-serif;
    font-weight:700;
    letter-spacing:-1px;
    /*text-transform:capitalize;*/
}
.footer svg path{
    fill:#fff;
    /*filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: url(#drop-shadow);
    -webkit-filter: drop-shadow(12px 12px 17px rgba(0,0,0,0.9));
    filter: drop-shadow(12px 12px 17px rgba(0,0,0,0.9));*/
}
.copy{float: left;padding: 18px 0}
.bottom-dock{border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
padding: 0 5px}
.bottom-dock ul {
    list-style: none;
    float: right;
    border-left: 1px solid #ccc;
    margin: 0;
    padding: 18px 0;
}
.bottom-dock ul li{display: inline-block;vertical-align: top;margin: 0 10px;}
.wrap{
	margin:0px auto 0 auto;
	position:relative;
	width:80%;
	background: #ffffff;
	padding:0 2%;
/*
	box-shadow: 0 0 10px #999999;
	-webkit-box-shadow: 0 0 10px #999999;
	-moz-box-shadow: 0 0 10px #999999;
	-o-box-shadow: 0 0 10px #999999;
*/
}
.section1{
    background:#058AB3 url('../images/bg.jpg') no-repeat center top;
}
.header{
	padding:0 30px;
	min-height:156px;
	position:relative;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/*.header:before{content:"";min-height:inherit;display:inline-block;vertical-align:middle}*/

.logo{
    height:64px;
    /*
    display:inline-block;
    vertical-align:middle;
    position:absolute;
    left:20px;
    z-index:3;
    margin:auto;
    top:0;bottom:0;*/
    float:left;
    margin-top:46px;
}
.doctor{
    background: url('../images/doctor1.png') repeat center center;
    height:225px;
    width:330px;
    /*position:absolute;
    left:300px;right:0;
    top:0;
    margin:auto;
    z-index:1;*/
    float:left;
}
.order-head{
    float: right;
    margin: 35px 0px;
    color: #fff;

}
.order-head-title{
    font-size: 120%;
    color: #fff;
    margin-bottom: 5px;
}
.btn-3e.orange{background: #FF9800;margin-top: 5px;}

.breadcrumbs{
    margin: 15px 0;
}

.search{
    margin-top: 10px;
    position: absolute;
    right: 10px;
    top: 10px;;
    z-index: 100;
}

.search input[type="text"]{
    width: 100%;
}

.callback{padding:0;float: right;margin:35px 35px 35px 0px;height:94px}
.callback ul{list-style:none;display:block;margin:0;padding:0}
.callback li{margin-bottom:5px}
.callback li > *{display:inline-block;vertical-align:middle;margin:0}
.callback li p{margin:0 0 0 10px;color:#fff;}
/*search*/

#search-searchword + input{height:100%}
#search-searchword, div.search input[type="text"]{
	outline:none;
	padding:8px 16px;
	outline: none;
	color: #202020;
	background: #FFFFFF;
	border: none;
	/*width: 78.33%;*/
	height:100%;
	max-width: calc(100% - 20px);
	font-size: 16px;
/*	line-height: 1.5em;*/
}
div.search input[type="submit"]{
	background: #fff url('../images/search.png') no-repeat 10px 8px;
	padding: 17px 20px;
	border: none;
	cursor: pointer;
	width: 40px;
    font-size: 0;
    position: absolute;
    top: 0px;
    right: 20px;
}

.popular-docs .btn-3e.orange {
    background: #FF9800;
    margin-top: 5px;
    padding: 5px 15px;
    margin-bottom: 5px;
    text-transform: none;
}
.popular-docs tr{-webkit-transition: 0.3s;transition: 0.3s}
.popular-docs tr:nth-child(odd){background-color: rgba(255, 152, 0, 0.08)}
.popular-docs tr:hover{background-color: rgba(255, 152, 0, 0.5)}
.popular-docs tr a{display: block;width: 100%;padding-left: 15px;}
.popular-docs tr a:hover{text-decoration: none}
.popular-docs tr>td:first-child{
    width: 71%;
}
.popular-docs tr>td:last-child{
    text-align: right;
}
.moduletable.active input.search[type="submit"], #searchForm input.search[type="submit"]{
    background-color: #FF9800;
}

.search input[type="submit"] {
	background-color: #FF9800 !important;
	-webkit-transition: .2s all linear;
	transition: .2s all linear;
}
.moduletable.active input.search[type="submit"]:hover {
    background-color: #383838;
}
.article{
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin-bottom: 30px;
}
.article-title{
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 5px 0;
}
.articleBody{margin-bottom: 30px}
.articleBody img{
    float: left;margin: 0 30px 30px 0;
}
.map-holder, .map-info, .form-info, .form-holder, .document-image, .document-form{
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}
.map-holder, .form-holder{
    width: 52%;
}
.map-info, .form-info{
    width: 46%;
}
.document-image{
    width: 22%;
    margin-right: 1%;
    float: left;
}
.document-form{
    width: 75%;
    margin-bottom: 30px;
}
.form-holder input[type="text"], .form-holder textarea{
    display: block;width: 100%;margin-bottom: 15px;
    border-radius:3px;
    min-height: 30px;
    padding-left: 15px;
    border: 1px solid #ccc;
    resize: vertical;
}
.form-holder input[type="submit"]{
    display: block;
    float: right;
    border-radius:3px;
}

.form-info input[type="text"]{
    display: block;width: 100%;margin-bottom: 15px;
    border-radius:3px;
    min-height: 30px;
    padding-left: 15px;
    border: 1px solid #ccc;
}

.form-holder textarea{
    display: block;width: 100%;margin-bottom: 15px;
    border-radius:3px;
    min-height: 120px;
    padding-left: 15px;
    border: 1px solid #ccc;
}
.menu{
	height:74px;
	position:relative;
	background: rgba(0,0,0,0.6);
	border-bottom:5px solid #FF9800;
	box-shadow: 0px 8px 0px #161616;
	-webkit-box-shadow: 0px 8px 0px #161616;
	-moz-box-shadow: 0px 8px 0px #161616;
	-o-box-shadow: 0px 8px 0px #161616;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}
/*  NAVIGATION */
.nav{
	/*float:left;*/
}
.top-menu ul li.active a{
	letter-spacing: -1px;
	color:#161616;
	background:#FF9800;
}
.top-menu ul li {
	line-height:2.8em; 
	display: inline-block; 
	/*float: left; */
}
/*.nav li:nth-child(4){
	margin-right: 0; 
	border-right: 1px ridge #363636;
}*/
.top-menu ul a {
	font-family: 'Ruluko', sans-serif;
	border-left: 1px ridge #363636;
	border-right: 1px ridge #161515;
	padding:11px 30px; 
	display: block; 
	color: #ffffff;
	text-decoration:none;
	font-size:1.2em;
	letter-spacing: 0px; 
	-webkit-transition: 0.9s;
	transition: 0.9s;

}
.top-menu ul a:hover { 
	color:#161616;
	background:#FF9800;
}
.social-icons {
	 float: right;
	 padding: 14px;
}
.social-icons li a {
	height: 40px;
	width: 40px;
	display:block;
	text-indent: -9999px;
	background: transparent url('..../images/social-icons.png');
	text-decoration: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.contact-info1{
	font-weight: normal;
	color: #BBB;
	font-family: 'Source Sans Pro', sans-serif;
}
.social-icons li:first-child {
	border-left: 1px ridge #161515;
}
.social-icons ul li:first-child, ol li:first-child {
	margin-top: 0px;
}
.social-icons ul li:nth-child(6) {
	border-right: 1px ridge #363636;
	margin-top: 0px;
}
.social-icons li {
	float: left;
	width: 40px;
	height: 40px;
	background: none;
	padding: 0px;
	margin: 0;
}
.social-icons a.facebook:hover {
	background-position: 0px bottom;
}
.social-icons a.facebook {
	background-position: 0px top;
}
.social-icons li a {
	border-left: 1px ridge #363636;
	border-right: 1px ridge #161515;
	height: 40px;
	width: 40px;
	display: block;
	text-indent: -9999px;
	background: transparent url(..../images/social-icons.png);
}
.social-icons a.twitter {
	background-position: -40px top;
}
.social-icons a.twitter:hover {
	background-position: -40px bottom;
}
.social-icons a.googleplus {
	background-position: -440px top;
}
.social-icons a.googleplus:hover {
	background-position: -440px bottom;
}
.social-icons a.pinterest {
	background-position: -480px top;
}
.social-icons a.pinterest:hover {
	background-position: -480px bottom;
}
.social-icons a.dribbble {
	background-position: -160px top;
}
.social-icons a.dribbble:hover {
	background-position: -160px bottom;
}
.social-iconst a.dribbble:hover {
	background-position: -160px bottom;
}	
.social-icons a.vimeo {
	background-position: -120px top;
}
.social-icons a.vimeo:hover {
	background-position: -120px bottom;
}
/*slider*/
/*.slider{
	margin:2% 0;
}*/
/*main*/
.main{
	background: #f8f8f8;
}
/*.content{
	padding: 3% 3% 0 3%;
}*/
.content .head-title{
	font-family: 'Ruluko', sans-serif;
	font-size: 2.4em;
	color: #AEAEAE;
	letter-spacing: -1px;
	border-bottom: 1PX solid rgb(231, 231, 231);
	padding: 0 0 30px 0;
}
/*  GRID OF Four   ============================================================================= */
.grids {
	padding:30px;
}
.grid_1_of_4{
	display: block;
	float:left;
}
.grid_1_of_4:first-child { 
	margin-left: 0; 
	padding-left: 0%;
} 
.grid_1_of_4:nth-child(5){ 
	padding-right: 0;
	border-right: none;
} 
.new_bg {
	margin-top: 68px;
	background: url('..../images/new.png') no-repeat;
	position: absolute;
	height: 74px;
	width: 74px;
	left: 12%;
}
.horiz-pop-article {
	width: 25%;
	padding:3%;
}
.horiz-pop-article  img{
	padding: 5px;
	background: #FFFFFF;
	box-shadow: 0px 56px 36px -60px #121D12;
	-webkit-box-shadow: 0px 56px 36px -60px #121D12;
	-moz-box-shadow: 0px 56px 36px -60px #121D12;
	-o-box-shadow: 0px 56px 36px -60px #121D12;
}
.horiz-pop-article p{
	margin-bottom: 20px;
}
.horiz-mostread{text-align:center}
.horiz-pop-article{text-align:left;display:inline-block;vertical-align:top;box-sizing:border-box;}
.horiz-pop-article img{margin:0 auto;display:block;max-height:100%}

.horiz-pop-article p{
	text-align:center;
	color: #161616;
	/*text-transform: capitalize;*/
	font-size: 25px;
	font-weight: normal;
	text-shadow: 0 1px 0 #FFFFFF;
	letter-spacing:-1px;
	font-family: 'Ruluko', sans-serif;
}
/* Button*/
.rd_more {
	margin: 20px 0;text-align: center;
}
.btn {
	font-family: 'Ruluko', sans-serif;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
	display: inline-block;
	text-transform: capitalize;
	letter-spacing: 0px;
	font-weight: 400;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
/* Button 3 */
.btn-3 {
	background: #161616;
	color: #fff;
}
.btn-3:hover {
	background: #202020 !important;
}
.btn-3:active {
	background: #202020;
	top: 2px;
}
.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}
/* Button 3e */
.btn-3e {
	overflow: hidden;
	font-size:16px;
}
.btn-3e:before {
	left: auto;
	right: 10px;
	z-index: 2;
}
.btn-3e:after {
	width: 30%;
	height: 200%;
	background: rgba(255,255,255,0.1);
	z-index: 1;
	right: 0;
	top: 0;
	margin: -5px 0 0 -5px;
	-webkit-transform-origin: 0 0;
	-webkit-transform: rotate(-20deg);
	-moz-transform-origin: 0 0;
	-moz-transform: rotate(-20deg);
	-ms-transform-origin: 0 0;
	-ms-transform: rotate(-20deg);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.btn-3e:hover:after {
	width: 40%;
}
/*.main1*/
.main1{
	padding: 3%;
}
.c_left, .c_right{margin-bottom:30px}
.c_left{
	width: 66.333%;
	margin-right: 2.5%;
	display:inline-block;
	vertical-align:top;
	
}
.popup-window {
    background: rgba(0,0,0,0.6);
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px 10px;
    z-index: 200;
    display: none;
    color: #fff;
}
.popup-window form {
    width: 85%;
    margin: 0 auto 50px;
}
.popup-window-form input[type="text"]{
    padding: 8px 16px;
    outline: none;
    color: #202020;
    background: #FFFFFF;
    border: none;
    height: 34px;
}
.popup-window-form label{
    margin-bottom: 10px;
    display: block;
}
.popup-window form input, .popup-window button{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
.popup-window-close {
    text-decoration: none;
    color: rgba(255,255,255,.6);
    font-weight: 600;
    text-align: center;
    display: block;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 5%;
    right: 5%;
}
.popup-window-close:hover{
    text-decoration: none
}
.popup-window-overlay {
    background: rgba(214, 242, 255, 0.79);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: none;
}
.c_right{
	display:inline-block;
	vertical-align:top;
	width: 30.333%;
}

p.right-title{
	font-family: 'Ruluko', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	color: #161616;
	margin-bottom: 30px;
}
.left h4{
	color: #969696;
	text-transform: capitalize;
	font-size: 1.6em;
	font-weight: normal;
	text-shadow: 0 1px 0 #FFFFFF;
	font-family: 'Ruluko', sans-serif;
}
.left p{
	margin-top: 3%;
}
.left p{
	font-size: 0.8125em;
	color: #AEAEAE;
	line-height: 1.8em;
}
.left1 h2{
color: #969696;
	text-transform: capitalize;
	font-size: 1.6em;
	font-weight: normal;
	text-shadow: 0 1px 0 #FFFFFF;
	font-family: 'Ruluko', sans-serif;
	letter-spacing:0px;
}
.left1 p img{
	margin:10px 30px 10px 0;
	float: left;
	padding: 5px;
	background: #FFFFFF;
	box-shadow: 0px 56px 36px -60px #121D12;
	-webkit-box-shadow: 0px 56px 36px -60px #121D12;
	-moz-box-shadow: 0px 56px 36px -60px #121D12;
	-o-box-shadow: 0px 56px 36px -60px #121D12;
}
.grid_bg{
	background: #EDEDED;
	padding: 8px 15px;
}
.grid:first-child{
	margin-top: 0;
}
.grid{
	margin-top: 20px;
}
p.left-title{
	font-family: 'Ruluko', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	color: #161616;
	margin-bottom: 30px;
}
.grid_img{
	float: left;
	margin-right: 6%;
}
.grid_img img{
	width: 35px;
	background: #FFFFFF;
	box-shadow: 0px 56px 36px -60px #121D12;
	-webkit-box-shadow:0px 24px 26px -26px #121D12;
	-moz-box-shadow:0px 24px 26px -26px #121D12;
	-o-box-shadow: 0px 24px 26px -26px #121D12;
}
.grid_txt{
/*	width: 68.333%;*/
}
.grid_txt nav ul li img{
	vertical-align: bottom;
}
.grid_txt a{
	font-family: 'Ruluko', sans-serif;
	font-size: 1.2em;
	color: #969696;
	display: block;
	padding-bottom: 10px;
}
.grid_txt p{
	font-size: 1.2em;
	color: #A5A5A5;
	line-height: 1.8em;
}
.side_bar1_bg{
	margin-top: -70px;
	background: url('..../images/side_bar.png') no-repeat;
	position: absolute;
	height: 128px;
	width: 310px;
	right: 13.333%;
}
/*footer*/
.ftr-bg{
	background:  url('..../images/h_bg.jpg');
	margin-bottom: 30px;
}
.footer1{
	padding:30px;
}
.copy{
	text-align:center;
}
.copy p{
	font-size: 1.2em;
	color: #ffffff;
	line-height: 1.8em;
	font-family: 'Ruluko', sans-serif;
	text-transform: uppercase;
}
.copy p a{
	color: #83C7FC;
}
.copy p a:hover{
	color:#ffffff;
	-webkit-transition: 0.9s;
	transition: 0.9s;
}
/**** About ****/
.content1{
	padding: 3%;
}
.about-data{
	float:left;
	width:66.333%;
	margin-right:2.333%;
}
.sidebar{
	float:left;
	width: 30.333%;
}
.about-desc{
	float: left;
	width: 54.333%;
	margin-left: 6.333%;
}
.about-img{
	float:left;
	width: 38.333%;
}
.about-img img{
	padding: 5px;
	background: #ffffff;
	box-shadow: 0px 56px 36px -60px #121D12;
	-webkit-box-shadow: 0px 56px 36px -60px #121D12;
	-moz-box-shadow: 0px 56px 36px -60px #121D12;
	-o-box-shadow: 0px 56px 36px -60px #121D12;
}
.about-data h2{
	margin-bottom: 3%;
	font-family: 'Ruluko', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	color: #161616;
}
.sidebar h2{
	margin-bottom: 3%;
	font-family: 'Ruluko', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	color: #161616;
}
.about-desc h4{
	line-height:1.5em;
	color: #969696;
	text-transform: capitalize;
	font-size: 1.6em;
	font-weight: normal;
	text-shadow: 0 1px 0 #FFFFFF;
	font-family: 'Ruluko', sans-serif;
}
.about-data p{
	margin-top: 2%;
	font-size: 0.8125em;
	color: #AEAEAE;
	line-height: 1.8em;
}
.blog_posts {
	padding:10px 0 20px 0;
}
.blog_date {
	float: left;
	width:20%;
}
.blog_date img{
	margin-top: 5px;
	padding: 5px;
	background: #ffffff;
	box-shadow: 0px 12px 14px -14px #121D12;
	-webkit-box-shadow: 0px 12px 14px -14px #121D11;
	-moz-box-shadow:0px 12px 14px -14px #121D11;
	-o-box-shadow:0px 12px 14px -14px #121D11;
}
.blog_desc {
	float: left;
	padding-left:2%;
	width:78%;
}
.blog_desc p {
	line-height: 1.8em;
}
.blog_desc  p{
	font-size: 0.8125em;
	color: #AEAEAE;
	line-height: 1.8em;
}
.blog_post{
	margin-bottom: 4%;
}
.blog_heading p span {
	color: #969696;
	text-transform: capitalize;
	font-size: 1.6em;
	font-weight: normal;
	text-shadow: 0 1px 0 #FFFFFF;
	font-family: 'Ruluko', sans-serif;
}
/*service*/
.image.group {
	margin-bottom: 3%;
}
.images_2_of_2 {
	width:30.333%;
	float:left;
}
.images_2_of_2 img{
	padding: 5px;
	background: #ffffff;
	box-shadow: 0px 56px 36px -60px #121D12;
	-webkit-box-shadow: 0px 56px 36px -60px #121D12;
	-moz-box-shadow: 0px 56px 36px -60px #121D12;
	-o-box-shadow: 0px 56px 36px -60px #121D12;
}
.span_2_of_2{
	width: 67.333%;
	float: right;
}
.service h2{
	font-family: 'Ruluko', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	color: #161616;
	margin-bottom: 2%;
}

.span_2_of_2 h3{
	margin-bottom:2%;
	color: #969696;
	text-transform: capitalize;
	font-size: 1.6em;
	font-weight: normal;
	text-shadow: 0 1px 0 #FFFFFF;
	font-family: 'Ruluko', sans-serif;
}
.span_2_of_2 p{
	font-size: 0.8125em;
	color: #AEAEAE;
	line-height: 1.8em;
}
/***Contact*/
form{
/*	margin-top: 2%;*/
}
.col{
	display: block;
	float:left;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 63.333%;
}
.span_1_of_3 {
	width: 33.333%;
	margin-right: 3.333%;
}
.span_1_of_3 h3	{
	font-family: 'Ruluko', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	color: #161616;
}
.span_2_of_3 h3	{
	font-family: 'Ruluko', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	color: #161616;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	color: #AEAEAE;
	display:block;
	font-size:0.8125em;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form textarea{
	font-family: Arial, Geneva,Helvetica, sans-serif;
	color: #161616;
	padding: 8px;
	display: block;
	width: 98%;
	background: #FFFFFF;
	border: 1px solid #DBDBDB;
	outline: none;
	-webkit-appearance: none;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	background: #161616;
	color: #fff;
	font-size: 16px;
	font-family: 'Ruluko', sans-serif;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
	display: inline-block;
	text-transform: capitalize;
	letter-spacing: 0px;
	font-weight: 400;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.contact-form input[type="submit"]:hover{
	background: #202020;
}
.company_address p{
	font-size: 0.8125em;
	color: #AEAEAE;
	line-height: 1.8em;
}
.company_address p span{
	text-decoration: none;
	cursor: pointer;
	color: #BDA807;
}
.company_address p span:hover{
	text-decoration:none;
	color: #AEAEAE;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.map{
	margin: 6% 0;
}
/*details*/
.details {
	padding-bottom: 2%;
}
.details h3{
	font-family: 'Ruluko', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	color: #161616;
	border-bottom: none;
}
.det-pic{
	margin: 3% 0;
}
.det-pic img{
	padding: 5px;
	background: #ffffff;
	box-shadow: 0px 56px 36px -60px #121D12;
	-webkit-box-shadow: 0px 56px 36px -60px #121D12;
	-moz-box-shadow: 0px 56px 36px -60px #121D12;
	-o-box-shadow: 0px 56px 36px -60px #121D12;
}
.det-para p{
	font-size: 0.8125em;
	color: #AEAEAE;
	line-height: 1.8em;
}
/*404*/
.page{
	padding:10% 0;
	text-align:center;
}
.page h3{
	font-size: 12em;
	color: #161616;
	font-family: 'Ruluko', sans-serif;
}
/***** Media Quries *****/

@media only screen and (max-width: 1280px) {
	.wrap{
		width:95%;
	}
}
@media only screen and (max-width: 1024px) {
	.wrap{
		width:100% !important;
		position:relative;
        padding: 0;
	}
    .header {
        padding: 0 15px !important;
    }
    .site-title {
        margin: 0 10px !important;
    }
    .logo .site-title {
        font-size: 17px !important;
    }
    .content{
        padding: 15px 15px 15px 15px;
    }
	.images_1_of_4 h3 {
		font-size: 1.2em;
		letter-spacing: 0px;
	}
	.new_bg {
		left: 6%;
	}
	.side_bar1_bg, .how-we-work {
		display: none !important;
	}
}
@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	/*div.search {
		width: 36%;
		
	}
	div.search input[type="text"] {
		width: 60.33%;
	}*/
	.nav a {
		padding: 8px 16px;
		font-size: 1em;
	}
	.nav li {
		line-height: 3.8em;
	}
	.c_left {
		width:100%;
		margin-right: 0%;
		float:none;
	}
	.c_right {
		float:none;
		width: 100%;
	}
	.grids {
		padding:0px;
	}
	.about-data {
		width:100%;
		margin-right: 0%;
		float:none;
	}
	.sidebar {
		float:none;
		width: 100%;
	}
	.span_1_of_3 {
		width:100%;
		margin-right: 0%;
	}
	.col {
		display: block;
		float:none;
	}
	.span_2_of_3 {
		width: 100%;
	}
}
@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
	.social-icons {
		float: none;
		padding: 0px;
		display: none;
	}
	.logo {
		float: none;
		text-align:left;
	}
	/*div.search {
		text-align:center;
		float:none;
		width:90%;
		margin:10px auto 0 auto;
		margin: 2.5% 0;
	}*/
	.images_2_of_2 {
		width: 100%;
		float:none;
	}
	.span_2_of_2 {
		width: 100%;
		float: none;
	}
	.grid_1_of_4 {
		display: block;
		float:none;
	}
	.images_1_of_4 {
		width:100%;
		padding: 0%;
	}
	.content h2 {
		border-bottom:none;
	}
}
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.content h2 {
		font-family: 2em;
	}
    .section1{
        background-size: cover;
    }
    .section1 .header{
        min-height: 246px;
        height: auto !important;
    }
    /*.section1*/ .callback{
        display: block;
        float: none;
    }
    /*.section1*/ .callback ul{
        text-align: center;
    }
    /*.section1*/ .callback ul li{
        display: inline-block;
    }
    /*.section1*/ .order-head{
        width: 100%;
        text-align: center;
    }
    /*.section1*/ .order-head button{
        display: block;
        width: 100%;
    }
    
}
#adminForm_1 #aiContactSafeSendButton{left:190px}
@media only screen and (max-width: 446px) {
	#adminForm_1 #aiContactSafeSendButton{left:100%;right:100%;margin:auto !important}
}
table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}
.table {
	width: 100%;
	margin-bottom: 18px;
}
.table th,
.table td {
	padding: 8px;
	line-height: 18px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.table th {
	font-weight: bold;
}
.table thead th {
	vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
	border-top: 0;
}
.table tbody + tbody {
	border-top: 2px solid #ddd;
}
.table .table {
	background-color: #fff;
}
.table-condensed th,
.table-condensed td {
	padding: 4px 5px;
}
.table-bordered {
	border: 1px solid #ddd;
	border-collapse: separate;
	*border-collapse: collapse;
	border-left: 0;
	border-radius: 4px;
}
.table-bordered th,
.table-bordered td {
	border-left: 1px solid #ddd;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
	border-top: 0;
}
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
	border-top-left-radius: 4px;
}
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
	border-top-right-radius: 4px;
}
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
	border-bottom-left-radius: 4px;
}
.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
	border-bottom-right-radius: 4px;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
	border-bottom-left-radius: 0;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
	border-bottom-right-radius: 0;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
	border-top-left-radius: 4px;
}
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
	border-top-right-radius: 4px;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
	background-color: #f5f5f5;
}
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
	display: table-cell;
	float: none;
	margin-left: 0;
}
.table td.span1,
.table th.span1 {
	float: none;
	width: 44px;
	margin-left: 0;
}
.table td.span2,
.table th.span2 {
	float: none;
	width: 124px;
	margin-left: 0;
}
.table td.span3,
.table th.span3 {
	float: none;
	width: 204px;
	margin-left: 0;
}
.table td.span4,
.table th.span4 {
	float: none;
	width: 284px;
	margin-left: 0;
}
.table td.span5,
.table th.span5 {
	float: none;
	width: 364px;
	margin-left: 0;
}
.table td.span6,
.table th.span6 {
	float: none;
	width: 444px;
	margin-left: 0;
}
.table td.span7,
.table th.span7 {
	float: none;
	width: 524px;
	margin-left: 0;
}
.table td.span8,
.table th.span8 {
	float: none;
	width: 604px;
	margin-left: 0;
}
.table td.span9,
.table th.span9 {
	float: none;
	width: 684px;
	margin-left: 0;
}
.table td.span10,
.table th.span10 {
	float: none;
	width: 764px;
	margin-left: 0;
}
.table td.span11,
.table th.span11 {
	float: none;
	width: 844px;
	margin-left: 0;
}
.table td.span12,
.table th.span12 {
	float: none;
	width: 924px;
	margin-left: 0;
}
.table tbody tr.success > td {
	background-color: #dff0d8;
}
.table tbody tr.error > td {
	background-color: #f2dede;
}
.table tbody tr.warning > td {
	background-color: #fcf8e3;
}
.table tbody tr.info > td {
	background-color: #d9edf7;
}
.table-hover tbody tr.success:hover > td {
	background-color: #d0e9c6;
}
.table-hover tbody tr.error:hover > td {
	background-color: #ebcccc;
}
.table-hover tbody tr.warning:hover > td {
	background-color: #faf2cc;
}
.table-hover tbody tr.info:hover > td {
	background-color: #c4e3f3;
}
.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	visibility: visible;
	font-size: 11px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
}
.tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.tooltip.top {
	margin-top: -3px;
	padding: 5px 0;
}
.tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
}
.tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0;
}
.tooltip.left {
	margin-left: -3px;
	padding: 0 5px;
}
.tooltip-inner {
	max-width: 200px;
	padding: 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	border-radius: 4px;
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}
.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	white-space: normal;
}
.popover.top {
	margin-top: -10px;
}
.popover.right {
	margin-left: 10px;
}
.popover.bottom {
	margin-top: 10px;
}
.popover.left {
	margin-left: -10px;
}
.popover-title {
	margin: 0;
	padding: 8px 14px;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}
.popover-title:empty {
	display: none;
}
.popover-content {
	padding: 9px 14px;
}
.popover .arrow,
.popover .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.popover .arrow {
	border-width: 11px;
}
.popover .arrow:after {
	border-width: 10px;
	content: "";
}
.popover.top .arrow {
	left: 50%;
	margin-left: -11px;
	border-bottom-width: 0;
	border-top-color: #999;
	border-top-color: rgba(0,0,0,0.25);
	bottom: -11px;
}
.popover.top .arrow:after {
	bottom: 1px;
	margin-left: -10px;
	border-bottom-width: 0;
	border-top-color: #fff;
}
.popover.right .arrow {
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-left-width: 0;
	border-right-color: #999;
	border-right-color: rgba(0,0,0,0.25);
}
.popover.right .arrow:after {
	left: 1px;
	bottom: -10px;
	border-left-width: 0;
	border-right-color: #fff;
}
.popover.bottom .arrow {
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: #999;
	border-bottom-color: rgba(0,0,0,0.25);
	top: -11px;
}
.popover.bottom .arrow:after {
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: #fff;
}
.popover.left .arrow {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-right-width: 0;
	border-left-color: #999;
	border-left-color: rgba(0,0,0,0.25);
}
.popover.left .arrow:after {
	right: 1px;
	border-right-width: 0;
	border-left-color: #fff;
	bottom: -10px;
}
.pagination {
	margin: 18px 0;
}
.pagination ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul > li {
	display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
	float: left;
	padding: 4px 12px;
	line-height: 18px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
	background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #999;
	cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: #999;
	background-color: transparent;
	cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	border-left-width: 1px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.pagination-centered {
	text-align: center;
}
.pagination-right {
	text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
	padding: 11px 19px;
	font-size: 16.25px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
	padding: 2px 10px;
	font-size: 12px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
	padding: 0 6px;
	font-size: 9.75px;
}
.pager {
	margin: 18px 0;
	list-style: none;
	text-align: center;
	*zoom: 1;
}
.pager:before,
.pager:after {
	display: table;
	content: "";
	line-height: 0;
}
.pager:after {
	clear: both;
}
.pager li {
	display: inline;
}
.pager li > a,
.pager li > span {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
	text-decoration: none;
	background-color: #f5f5f5;
}
.pager .next > a,
.pager .next > span {
	float: right;
}
.pager .previous > a,
.pager .previous > span {
	float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
	color: #999;
	background-color: #fff;
	cursor: default;
}
@font-face {
	font-family: 'IcoMoon';
	src: url('../../../media/jui/fonts/IcoMoon.eot');
	src: url('../../../media/jui/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'), url('../../../media/jui/fonts/IcoMoon.woff') format('woff'), url('../../../media/jui/fonts/IcoMoon.ttf') format('truetype'), url('../../../media/jui/fonts/IcoMoon.svg#IcoMoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: .25em;
	line-height: 14px;
}
dd > span[class^="icon-"] + time,
dd > span[class*=" icon-"] + time {
	margin-left: -0.25em;
}
dl.article-info dd.hits span[class^="icon-"],
dl.article-info dd.hits span[class*=" icon-"] {
	margin-right: 0;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
[class^="icon-"].disabled,
[class*=" icon-"].disabled {
	font-weight: normal;
}
.icon-joomla:before {
	content: "\e200";
}
.icon-chevron-up:before,
.icon-uparrow:before,
.icon-arrow-up:before {
	content: "\e005";
}
.icon-chevron-right:before,
.icon-rightarrow:before,
.icon-arrow-right:before {
	content: "\e006";
}
.icon-chevron-down:before,
.icon-downarrow:before,
.icon-arrow-down:before {
	content: "\e007";
}
.icon-chevron-left:before,
.icon-leftarrow:before,
.icon-arrow-left:before {
	content: "\e008";
}
.icon-arrow-first:before {
	content: "\e003";
}
.icon-arrow-last:before {
	content: "\e004";
}
.icon-arrow-up-2:before {
	content: "\e009";
}
.icon-arrow-right-2:before {
	content: "\e00a";
}
.icon-arrow-down-2:before {
	content: "\e00b";
}
.icon-arrow-left-2:before {
	content: "\e00c";
}
.icon-arrow-up-3:before {
	content: "\e00f";
}
.icon-arrow-right-3:before {
	content: "\e010";
}
.icon-arrow-down-3:before {
	content: "\e011";
}
.icon-arrow-left-3:before {
	content: "\e012";
}
.icon-menu-2:before {
	content: "\e00e";
}
.icon-arrow-up-4:before {
	content: "\e201";
}
.icon-arrow-right-4:before {
	content: "\e202";
}
.icon-arrow-down-4:before {
	content: "\e203";
}
.icon-arrow-left-4:before {
	content: "\e204";
}
.icon-share:before,
.icon-redo:before {
	content: "\27";
}
.icon-undo:before {
	content: "\28";
}
.icon-forward-2:before {
	content: "\e205";
}
.icon-backward-2:before,
.icon-reply:before {
	content: "\e206";
}
.icon-unblock:before,
.icon-refresh:before,
.icon-redo-2:before {
	content: "\6c";
}
.icon-undo-2:before {
	content: "\e207";
}
.icon-move:before {
	content: "\7a";
}
.icon-expand:before {
	content: "\66";
}
.icon-contract:before {
	content: "\67";
}
.icon-expand-2:before {
	content: "\68";
}
.icon-contract-2:before {
	content: "\69";
}
.icon-play:before {
	content: "\e208";
}
.icon-pause:before {
	content: "\e209";
}
.icon-stop:before {
	content: "\e210";
}
.icon-previous:before,
.icon-backward:before {
	content: "\7c";
}
.icon-next:before,
.icon-forward:before {
	content: "\7b";
}
.icon-first:before {
	content: "\7d";
}
.icon-last:before {
	content: "\e000";
}
.icon-play-circle:before {
	content: "\e00d";
}
.icon-pause-circle:before {
	content: "\e211";
}
.icon-stop-circle:before {
	content: "\e212";
}
.icon-backward-circle:before {
	content: "\e213";
}
.icon-forward-circle:before {
	content: "\e214";
}
.icon-loop:before {
	content: "\e001";
}
.icon-shuffle:before {
	content: "\e002";
}
.icon-search:before {
	content: "\53";
}
.icon-zoom-in:before {
	content: "\64";
}
.icon-zoom-out:before {
	content: "\65";
}
.icon-apply:before,
.icon-edit:before,
.icon-pencil:before {
	content: "\2b";
}
.icon-pencil-2:before {
	content: "\2c";
}
.icon-brush:before {
	content: "\3b";
}
.icon-save-new:before,
.icon-plus-2:before {
	content: "\5d";
}
.icon-minus-sign:before,
.icon-minus-2:before {
	content: "\5e";
}
.icon-delete:before,
.icon-remove:before,
.icon-cancel-2:before {
	content: "\49";
}
.icon-publish:before,
.icon-save:before,
.icon-ok:before,
.icon-checkmark:before {
	content: "\47";
}
.icon-new:before,
.icon-plus:before {
	content: "\2a";
}
.icon-plus-circle:before {
	content: "\e215";
}
.icon-minus:before,
.icon-not-ok:before {
	content: "\4b";
}
.icon-ban-circle:before,
.icon-minus-circle:before {
	content: "\e216";
}
.icon-unpublish:before,
.icon-cancel:before {
	content: "\4a";
}
.icon-cancel-circle:before {
	content: "\e217";
}
.icon-checkmark-2:before {
	content: "\e218";
}
.icon-checkmark-circle:before {
	content: "\e219";
}
.icon-info:before {
	content: "\e220";
}
.icon-info-2:before,
.icon-info-circle:before {
	content: "\e221";
}
.icon-question:before,
.icon-question-sign:before,
.icon-help:before {
	content: "\45";
}
.icon-question-2:before,
.icon-question-circle:before {
	content: "\e222";
}
.icon-notification:before {
	content: "\e223";
}
.icon-notification-2:before,
.icon-notification-circle:before {
	content: "\e224";
}
.icon-pending:before,
.icon-warning:before {
	content: "\48";
}
.icon-warning-2:before,
.icon-warning-circle:before {
	content: "\e225";
}
.icon-checkbox-unchecked:before {
	content: "\3d";
}
.icon-checkin:before,
.icon-checkbox:before,
.icon-checkbox-checked:before {
	content: "\3e";
}
.icon-checkbox-partial:before {
	content: "\3f";
}
.icon-square:before {
	content: "\e226";
}
.icon-radio-unchecked:before {
	content: "\e227";
}
.icon-radio-checked:before,
.icon-generic:before {
	content: "\e228";
}
.icon-circle:before {
	content: "\e229";
}
.icon-signup:before {
	content: "\e230";
}
.icon-grid:before,
.icon-grid-view:before {
	content: "\58";
}
.icon-grid-2:before,
.icon-grid-view-2:before {
	content: "\59";
}
.icon-menu:before {
	content: "\5a";
}
.icon-list:before,
.icon-list-view:before {
	content: "\31";
}
.icon-list-2:before {
	content: "\e231";
}
.icon-menu-3:before {
	content: "\e232";
}
.icon-folder-open:before,
.icon-folder:before {
	content: "\2d";
}
.icon-folder-close:before,
.icon-folder-2:before {
	content: "\2e";
}
.icon-folder-plus:before {
	content: "\e234";
}
.icon-folder-minus:before {
	content: "\e235";
}
.icon-folder-3:before {
	content: "\e236";
}
.icon-folder-plus-2:before {
	content: "\e237";
}
.icon-folder-remove:before {
	content: "\e238";
}
.icon-file:before {
	content: "\e016";
}
.icon-file-2:before {
	content: "\e239";
}
.icon-file-add:before,
.icon-file-plus:before {
	content: "\29";
}
.icon-file-minus:before {
	content: "\e017";
}
.icon-file-check:before {
	content: "\e240";
}
.icon-file-remove:before {
	content: "\e241";
}
.icon-save-copy:before,
.icon-copy:before {
	content: "\e018";
}
.icon-stack:before {
	content: "\e242";
}
.icon-tree:before {
	content: "\e243";
}
.icon-tree-2:before {
	content: "\e244";
}
.icon-paragraph-left:before {
	content: "\e246";
}
.icon-paragraph-center:before {
	content: "\e247";
}
.icon-paragraph-right:before {
	content: "\e248";
}
.icon-paragraph-justify:before {
	content: "\e249";
}
.icon-screen:before {
	content: "\e01c";
}
.icon-tablet:before {
	content: "\e01d";
}
.icon-mobile:before {
	content: "\e01e";
}
.icon-box-add:before {
	content: "\51";
}
.icon-box-remove:before {
	content: "\52";
}
.icon-download:before {
	content: "\e021";
}
.icon-upload:before {
	content: "\e022";
}
.icon-home:before {
	content: "\21";
}
.icon-home-2:before {
	content: "\e250";
}
.icon-out-2:before,
.icon-new-tab:before {
	content: "\e024";
}
.icon-out-3:before,
.icon-new-tab-2:before {
	content: "\e251";
}
.icon-link:before {
	content: "\e252";
}
.icon-picture:before,
.icon-image:before {
	content: "\2f";
}
.icon-pictures:before,
.icon-images:before {
	content: "\30";
}
.icon-palette:before,
.icon-color-palette:before {
	content: "\e014";
}
.icon-camera:before {
	content: "\55";
}
.icon-camera-2:before,
.icon-video:before {
	content: "\e015";
}
.icon-play-2:before,
.icon-video-2:before,
.icon-youtube:before {
	content: "\56";
}
.icon-music:before {
	content: "\57";
}
.icon-user:before {
	content: "\22";
}
.icon-users:before {
	content: "\e01f";
}
.icon-vcard:before {
	content: "\6d";
}
.icon-address:before {
	content: "\70";
}
.icon-share-alt:before,
.icon-out:before {
	content: "\26";
}
.icon-enter:before {
	content: "\e257";
}
.icon-exit:before {
	content: "\e258";
}
.icon-comment:before,
.icon-comments:before {
	content: "\24";
}
.icon-comments-2:before {
	content: "\25";
}
.icon-quote:before,
.icon-quotes-left:before {
	content: "\60";
}
.icon-quote-2:before,
.icon-quotes-right:before {
	content: "\61";
}
.icon-quote-3:before,
.icon-bubble-quote:before {
	content: "\e259";
}
.icon-phone:before {
	content: "\e260";
}
.icon-phone-2:before {
	content: "\e261";
}
.icon-envelope:before,
.icon-mail:before {
	content: "\4d";
}
.icon-envelope-opened:before,
.icon-mail-2:before {
	content: "\4e";
}
.icon-unarchive:before,
.icon-drawer:before {
	content: "\4f";
}
.icon-archive:before,
.icon-drawer-2:before {
	content: "\50";
}
.icon-briefcase:before {
	content: "\e020";
}
.icon-tag:before {
	content: "\e262";
}
.icon-tag-2:before {
	content: "\e263";
}
.icon-tags:before {
	content: "\e264";
}
.icon-tags-2:before {
	content: "\e265";
}
.icon-options:before,
.icon-cog:before {
	content: "\38";
}
.icon-cogs:before {
	content: "\37";
}
.icon-screwdriver:before,
.icon-tools:before {
	content: "\36";
}
.icon-wrench:before {
	content: "\3a";
}
.icon-equalizer:before {
	content: "\39";
}
.icon-dashboard:before {
	content: "\78";
}
.icon-switch:before {
	content: "\e266";
}
.icon-filter:before {
	content: "\54";
}
.icon-purge:before,
.icon-trash:before {
	content: "\4c";
}
.icon-checkedout:before,
.icon-lock:before,
.icon-locked:before {
	content: "\23";
}
.icon-unlock:before {
	content: "\e267";
}
.icon-key:before {
	content: "\5f";
}
.icon-support:before {
	content: "\46";
}
.icon-database:before {
	content: "\62";
}
.icon-scissors:before {
	content: "\e268";
}
.icon-health:before {
	content: "\6a";
}
.icon-wand:before {
	content: "\6b";
}
.icon-eye-open:before,
.icon-eye:before {
	content: "\3c";
}
.icon-eye-close:before,
.icon-eye-blocked:before,
.icon-eye-2:before {
	content: "\e269";
}
.icon-clock:before {
	content: "\6e";
}
.icon-compass:before {
	content: "\6f";
}
.icon-broadcast:before,
.icon-connection:before,
.icon-wifi:before {
	content: "\e01b";
}
.icon-book:before {
	content: "\e271";
}
.icon-lightning:before,
.icon-flash:before {
	content: "\79";
}
.icon-print:before,
.icon-printer:before {
	content: "\e013";
}
.icon-feed:before {
	content: "\71";
}
.icon-calendar:before {
	content: "\43";
}
.icon-calendar-2:before {
	content: "\44";
}
.icon-calendar-3:before {
	content: "\e273";
}
.icon-pie:before {
	content: "\77";
}
.icon-bars:before {
	content: "\76";
}
.icon-chart:before {
	content: "\75";
}
.icon-power-cord:before {
	content: "\32";
}
.icon-cube:before {
	content: "\33";
}
.icon-puzzle:before {
	content: "\34";
}
.icon-attachment:before,
.icon-paperclip:before,
.icon-flag-2:before {
	content: "\72";
}
.icon-lamp:before {
	content: "\74";
}
.icon-pin:before,
.icon-pushpin:before {
	content: "\73";
}
.icon-location:before {
	content: "\63";
}
.icon-shield:before {
	content: "\e274";
}
.icon-flag:before {
	content: "\35";
}
.icon-flag-3:before {
	content: "\e275";
}
.icon-bookmark:before {
	content: "\e023";
}
.icon-bookmark-2:before {
	content: "\e276";
}
.icon-heart:before {
	content: "\e277";
}
.icon-heart-2:before {
	content: "\e278";
}
.icon-thumbs-up:before {
	content: "\5b";
}
.icon-thumbs-down:before {
	content: "\5c";
}
.icon-unfeatured:before,
.icon-asterisk:before,
.icon-star-empty:before {
	content: "\40";
}
.icon-star-2:before {
	content: "\41";
}
.icon-featured:before,
.icon-default:before,
.icon-star:before {
	content: "\42";
}
.icon-smiley:before,
.icon-smiley-happy:before {
	content: "\e279";
}
.icon-smiley-2:before,
.icon-smiley-happy-2:before {
	content: "\e280";
}
.icon-smiley-sad:before {
	content: "\e281";
}
.icon-smiley-sad-2:before {
	content: "\e282";
}
.icon-smiley-neutral:before {
	content: "\e283";
}
.icon-smiley-neutral-2:before {
	content: "\e284";
}
.icon-cart:before {
	content: "\e019";
}
.icon-basket:before {
	content: "\e01a";
}
.icon-credit:before {
	content: "\e286";
}
.icon-credit-2:before {
	content: "\e287";
}
.icon-expired:before {
	content: "\4b";
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
a.menu-button{display:none;font-size:25px;color:#83C7FC;cursor:pointer;text-decoration:none;padding-left:20px}
.img-container{width:100%;height:225px}

.pager.pagenav a > span{line-height:18px;height:18px;vertical-align:middle}
h1{font-size:40px;margin:20px 0;color:#161616}
dd.published{margin-top:8px}
p + ymaps{max-width:100%}
div.logo * > * {vertical-align:middle}
.site-title{margin:0 20px;color:#fff;font-size:35px;vertical-align:middle;letter-spacing:-1px}
@media only screen and (max-width: 1500px) {
    
    .logo .site-title {
        font-size: 28px;
    }
    .doctor{display:none;}
}
@media only screen and (max-width: 1390px) {
    .wrap {
    width: 95%;
}
	.horiz-pop-article{width:50%}
	.top-menu ul a{font-size:16px;padding: 11px 20px;}
/*	.horiz-pop-article p{min-height:60px}*/
}
@media only screen and (max-width: 1140px) {
	.c_left, .c_right{display:block;width:auto;margin-right:0}
	.site-title{font-size:30px}
	.footer-row{padding:0}
	.footer-row2{width:38%}
	.footer-row3{width:28%}
    .logo .site-title {
        font-size: 23px;
    }
}
@media only screen and (max-width: 920px) {
	.menu{padding:0}
	.top-menu {width:100%;z-index:1}
	.search-container input{z-index:2}
	.top-menu ul{display:none;position:absolute;z-index:1;background:rgba(34, 34, 34, 0.9);left:0;right:0;width:100%/*margin:0 2%;*/}
	a.menu-button{display:block}

	a.menu-button.active + ul{display:block}
	a.menu-button.active + ul li{display:block}
	.site-title{font-size:20px}
	
	.footer{background:#3DA0CA}
	.footer-row p, .footer-row a{font-size:16px}
	.footer-row1,.footer-row2{width:50%}
	.footer-row3{width:100%}
	.footer-row3 li{display:inline-block;padding-left:20px}
	.footer-row li:first-child{display:block;padding:0}
    .footer .logo{display: none}
    .footer .callback{float: left}
}
@media only screen and (max-width: 770px) {
    .header{padding-top:20px}
    .logo{float:none;text-align:center;margin:0;height:auto}
    .callback{/*float:none;clear:both;*/margin:20px auto 0 auto;text-align:center;display:block;position:relative;height:auto;}
    .callback li{display:/*inline-*/block;margin-right:10px;font-size:13px}
    .order-head{
    float: none;
    display: inline-block;
        margin: 15px 0px;
}
    .footer-row{width:100%;}
    .footer-row3 li{display:block;padding:0}
    .bottom-dock{display: none}
    .footer .order-head{float: right}
}
@media only screen and (max-width: 620px) {
	.horiz-pop-article{width:100%}
	h1{font-size:30px;margin:10px 0}
	.section1 .header{/*text-align:center;*/height:246px}
	.callback{display:inline-block;text-align:left;margin:20px auto}
	.callback li{display:block}
	
}
@media only screen and (max-width: 620px) {
/*    .ref-example{display:none}*/
}
@media only screen and (max-width: 470px) {
    .search-container{width: calc(100% - 40px)}
    .menu {height:50px;}
    .top-menu{line-height:50px;}
    .top-menu ul a {padding:8px;;line-height:20px}
    .section1 .search {
        margin-top: 0px; 
        right: 0px;
        top: 5px;
    }
}
.popular-docs {
    width:100%;
}

@media only screen and (max-width: 360px){
    .section1 .search{
         width: 169px;
    }
}
