*{font-family: 'Helvetica','Open Sans', sans-serif;box-sizing: border-box}
textarea{resize: vertical}
body{margin:0;}
.relative{position: relative}
.clearfix:after{content: " ";visibility:hidden;display:block;height:0;clear:both;}
.absolute{position: absolute}
.row{width: 975px;margin: 0 auto}

.sidebar{width: 20.21%;display: inline-block;height: 1000px;background: #f7f7f7;vertical-align: top;z-index: 10;border-right: 1px solid #ebebeb;position: fixed;}
.content{width: 79.79%;display: inline-block;margin-left: 20.15%;min-height: 1000px;background: #fff;vertical-align: top;position: relative;}

/*sidebar*/
.logo{height: 50px;}
.menu h3 {padding-left: 8%;}
.sidebar_menu{list-style: none;padding: 0}
.sidebar_menu li{border-bottom: 1px solid #ebebeb;min-height: 20px;line-height: 20px;padding-left: 20px;position: relative;}
.sidebar_menu li:hover{background: #fff none repeat scroll 0 0;margin-right: -1px;}
.sidebar_menu li a{text-decoration: none;color: #666;display: block;}
.sidebar_menu li a:hover{color: #333;}
.sidebar_menu li a:hover:before{background: #ea533f;content: "";display: inline-block;vertical-align: top;width: 7px;height: 100%;position: absolute;left: 0}
.sidebar_menu li:first-child{border-top: 1px solid #ebebeb; }

.green {
    color: green; /* Цвет символа */
    font-size: 20px; /* Размер шрифта */
   }

/*Tabs*/
.tabs {
  position: relative;
  min-height: 550px; 
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab label:hover {
    background-color: #ddd;
    cursor: pointer;
}
.tab [type=radio] {
  display: none;
}
.content_tab {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 2px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content_tab {
  z-index: 1;
}


/*content*/
.content .smallrow{height: 50px;position: absolute;width: 100%;bottom: 0}
.smallrow .linkgroup{display: inline-block;position: absolute;right: 0}
.smallrow:last-child {border-bottom: 1px solid #ebebeb;}
.smallrow a{display: inline-block;width: 50px;height: 50px;border-right: 1px solid #ebebeb;background: url(../images/add.png) no-repeat 50% 50%;vertical-align: top;text-decoration: none;color: #858585}
.smallrow a.large{width: 200px;background: none;line-height: 50px}
.linkgroup a:first-child{border-left: 1px solid #ebebeb}
.smallrow a:hover {background-color: #ebebeb;}
.linkgroup a{margin-left: -5px;}
.content .main{border-top:1px solid #ebebeb;border-bottom: 1px solid #ebebeb;height: 85%;padding: 35px;margin-bottom: 50px; }
.main h2{color:#ea533f}
.main .container{display: inline-block;vertical-align: top;border: 1px solid #ccc; border-radius: 10px;min-width: 25%;margin-right: 2%;padding: 20px}
.main .container .title{color: #333;font-size: 110%;margin-bottom: 25px}
.container .table_container{display: inline-block;width: 48%;margin-bottom: 10px;}
.table_container .table_name{color:#858585;border-bottom: 1px dotted #858585;padding-bottom: 10px;width: 90%;}
.table_container table{width: 100%}
table h1, table p, table span, table h2, .main h1{font-size: 14px !important;font-weight: 400}
.table_container table tr td:nth-child(1){color: #1b6aad;text-align: right;}
.table_container table tr td:nth-child(2){color: #858585;padding-left: 10px;}
.button{height: 30px;width: 100px;border-radius: 5px;border: 1px solid #e33f29;background-color: #ef5b58;text-align: center;line-height: 30px;color:#fff;display: inline-block;text-decoration: none;text-shadow: 0 -1px 0 #777}
.button:hover{background-color: #e33f29;}
.button.blue{background-color: #1b6aad;border-color: #0d3873}
.button.blue:hover{background-color: #0d3873}
.createNewBlock {display: block;text-decoration: none;text-align: center;border: 2px solid #da4b52;width: 20%;height: 50px;line-height: 46px;background-color: #da4b52;color: #fff;text-transform: uppercase;}
.createNewBlock:hover {background-color: #fff;color: #000;}

/*login*/
.login-admin-block h1{margin: 0}
.login-admin-block {
    width: 35%;
    height: 320px;
    border-radius: 3px;
    border: 2px solid #8280D6;
    position: fixed;
    margin: auto;
    top: 0;
    background-color: #eee;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    box-shadow: 2px 3px 20px #344D94;
}

.login-admin-block label, .login-admin-block input{display: block}
.login-admin-block input{width: 100%;height: 30px;border:2px solid #ccc;border-radius: 3px;margin-bottom: 20px;}
.login-admin-block input[type="submit"]{height: 40px;background-color: #ccc;cursor: pointer}
.login-admin-block input[type="submit"]:hover{background-color: #fff;}
input[type="text"]:focus, input[type="password"]:focus {border: 2px solid #82acd6;box-shadow: 2px 3px 5px #344d94;transition: 0.3s}

/*createcategory*/
.registerBlock input[type="text"],.registerBlock select, .registerBlock textarea, .registerBlock input[type="submit"], .registerBlock input, .loginBlock input[type="text"], .loginBlock input[type="password"][type="password"]{height: 40px;width: 100%; border: 2px solid #ccc;border-radius: 3px;margin-bottom: 10px}

/*catlist*/
a.category {text-decoration: none;display: block;color: #555;background-color: #e8e8e8;height: 40px;line-height: 40px;border-bottom: 1px solid #bbb;border-top: 1px solid #eee;padding-left: 1%;}
a.category:hover {background-color: #ccc;border-top: 1px solid #ccc;}

/*inputs*/
.main input[type="text"],.main select, .main textarea, .main input[type="submit"], .main input[type="password"]{height: 35px;width: 100%; border: 2px solid #ccc;border-radius: 3px;margin-bottom: 10px}

/*tables*/
table {
    border-collapse: collapse;
    width: 100%;
}
table tr:nth-child(odd) {
    background-color: #eee;
}
table tr:nth-child(even) {
    background-color: #ddd;
}
tr:not(.topline):nth-child(odd) td:first-child {
    border-right: 1px solid #ccc;
}

tr:not(.topline):nth-child(even) td:first-child {
    border-right: 1px solid #ccc;
}

table tr {
    border: 0;
    height: 30px;
}

table td{
    padding: 0;
    padding: 5px;
}

table a {
    display: block;
    width: 100%;
    height: 100%;
}

tr.topline {
    background-color: #da4b52 !important;
    color: #fff;
}

.hello {
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
}