*{font-family: 'Helvetica','Open Sans', sans-serif;box-sizing: border-box}
body{margin:0;}
.relative{position: relative}
.clearfix:after{content: " ";visibility:hidden;display:block;height:0;clear:both;}
.absolute{position: absolute}
.row{width: 975px;margin: 0 auto}

/*Head*/
.header_text{display: inline-block;width: 57%;margin-top: 35px}
.header_title{display: block;font-size: 230%;font-family: "Times New Roman"}
.header_description{font-family: "Arial"}
.top_menu{top: 0;display: inline-block}
.top_menu ul{list-style: none;margin: 0;letter-spacing: -4px}
.top_menu ul li{display: inline-block;letter-spacing: normal}
.top_menu ul li a {color: #000;display: block;height: 74px;line-height: 8;padding: 0 10px;text-decoration: none;}
.top_menu ul li a:hover {background: #d45e5e;color: #fff}

/*Content*/
.content{margin-top: 200px;margin-bottom: 250px}
.article{margin-top: 70px}
.article img{margin-right: 30px;display: inline-block;vertical-align: top}
.article p{display: inline-block;width: 70%;vertical-align: top;margin-top: 0}
.article img:after{clear: both;content: ".";visibility: hidden;}

/*Footer*/
.footer{background: #d45e5e;height: 410px;color: #fff;padding-top: 45px;font-style: italic}
.footer .row{width: 939px}
.copyrights{background: #282828;font-style: normal;height: 30px}
.copyrights span{color: #ababab;position: absolute;right: 0;line-height: 30px}